@import '../../responsive.scss';

.add-skills-container {
    width: 100%;
    min-height: 100vh;
    margin-top: 2rem;
    padding: 2rem 1rem;

    display: flex;
    flex-direction: column;
    gap: 1rem;

    .title {
        font-size: 1.5rem;
        color: gray;
        text-align: center;

        @include medium-screen {
            font-size: 3rem;
        }
    }

    .skills-container {
        width: 100%;
        // min-height: 70vh;
        display: flex;
        flex-wrap: wrap;
        gap: 2rem;
        margin-top: 2rem;

        .skill {
            width: 100%;
            align-self: flex-start;
            display: flex;
            align-items: center;
            justify-content: space-between;
            gap: 15px;
            padding: 10px;
            border: 1px solid #ccc;
            border-radius: 8px;
            box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
            background-color: #f9f9f9;
            max-width: 200px;

            @include medium-screen {
                .skill {
                    flex-direction: column;
                    align-items: flex-start;
                }

                .skill-image {
                    margin-bottom: 10px;
                }
            }

            .skill-image {
                width: 50px;
                height: 50px;
                object-fit: contain;
                border-radius: 50%;
            }

            .skill-details {
                display: flex;
                flex-direction: column;
                flex-grow: 1;

                .skill-name {
                    font-size: 16px;
                    font-weight: 600;
                    color: #333;
                    margin: 0 0 5px 0;
                }

                .delete-button {
                    align-self: flex-start;
                    padding: 5px 10px;
                    font-size: 14px;
                    color: white;
                    background-color: #e63946;
                    border: none;
                    border-radius: 4px;
                    cursor: pointer;
                    transition: background-color 0.3s;

                    &:hover {
                        background-color: #d62828;
                    }
                }
            }
        }
    }

    .add-btn-container {
        display: flex;
        align-items: center;
        justify-content: space-between;
        flex-wrap: wrap;

        .upload-skill-container {

            border: 3px dotted gray;
            border-radius: 10px;
            padding: 10px;

            width: 100%;
            max-width: 600px;

            display: flex;
            gap: 1rem;
            align-items: center;
            justify-content: center;

            .file-upload-container {
                display: flex;
                flex-direction: column;
                align-items: center;
                justify-content: center;
                width: 100%;
                max-width: 300px;
                margin-bottom: 10px;
                padding: 1rem;
                border: 2px dashed white;
                border-radius: 10px;
                background-color: #1e1e1e;
                transition: border-color 0.3s, background-color 0.3s;

                &:hover {
                    border-color: var(--primary-color);
                    background-color: #282828;
                }

                .file-upload {
                    position: relative;
                    width: 100%;
                    text-align: center;

                    input[type="file"] {
                        opacity: 0;
                        position: absolute;
                        top: 0;
                        left: 0;
                        width: 100%;
                        height: 100%;
                        cursor: pointer;
                    }

                    label {
                        display: inline-block;
                        padding: 10px 20px;
                        font-size: 16px;
                        font-weight: 500;
                        color: white;
                        background-color: #444;
                        border: 1px solid #666;
                        border-radius: 5px;
                        cursor: pointer;
                        transition: background-color 0.3s, border-color 0.3s;

                        &:hover {
                            background-color: var(--primary-color);
                            border-color: var(--primary-color);
                        }

                        &:active {
                            background-color: var(--primary-color);
                        }
                    }
                }

                .file-placeholder {
                    margin-top: 10px;
                    font-size: 14px;
                    color: #ccc;
                    text-align: center;
                    word-wrap: break-word;
                    width: 100%;
                }

                // Responsive design
                @media (max-width: 480px) {
                    padding: 0.8rem;
                    border-radius: 8px;

                    .file-upload label {
                        padding: 8px 16px;
                        font-size: 14px;
                    }

                    .file-placeholder {
                        font-size: 12px;
                    }
                }
            }

            .new-skill-container {
                display: flex;
                align-items: center;
                justify-self: center;

                flex-direction: column;

                gap: 0.5rem;

                input {
                    width: 100%;
                    padding: 10px 20px;
                    outline: none;
                    border: none;
                    background: #333;
                    color: white;
                    border-radius: 10px;
                    font-size: 1rem;

                    &::selection {
                        outline: none;
                        border: none;
                        background: #333;
                    }

                    &:focus {
                        outline: none;
                        border: none;
                        background: #333;
                    }
                }

                .add-skill-button {
                    width: 100%;
                    padding: 10px 20px;
                    border-radius: 10px;
                    font-weight: 500;
                    cursor: pointer;
                }
            }
        }


        .button {
            width: 100%;
            max-width: 700px;
            border-radius: 10px;
            cursor: pointer;
            text-transform: capitalize;

            height: 120px;
            background-color: rgb(42, 42, 242);

            display: flex;
            align-items: center;
            justify-content: center;

            text-align: center;
            font-weight: 1.3rem;

        }
    }
}