.btn{
    display: block;
    text-decoration: none;
    padding: 10px 20px;
    border-radius: 10px;
    background-color: var(--secondary-color);
    color: var(--primary-color);
    text-decoration: none;
    text-transform: uppercase;
}