.project-section {
    width: 100%;
    height: 100vh;
    padding: 2rem 0;
    overflow: hidden;

    .projects-container {
        width: 100vw;
        height: 96%;
        position: relative;

        .slider-controllers {
            display: flex;
            align-items: center;
            justify-content: center;

            position: absolute;
            bottom: 5%;
            left: 50%;
            z-index: 5;
            transform: translate(-50%, 0);

            .buttons {
                display: flex;
                align-items: center;
                justify-content: center;

                .slider-btn {
                    font-size: 1.4rem;
                    color: white;
                    cursor: pointer;
                }
            }

            .indicators {
                width: 200px;
                height: 30px;

                display: flex;
                align-items: center;
                justify-content: center;
                gap: 20px;

                .indicator {
                    width: 10px;
                    height: 10px;
                    border-radius: 10px;
                    background-color: white;
                    cursor: pointer;
                    transition: all .5s ease;

                    &.active {
                        width: 20px;
                    }
                }
            }
        }

        .projects-wrapper {
            width: 100vw;
            height: 100%;
            overflow-x: scroll;

            &::-webkit-scrollbar {
                display: none;
            }

            .projects-box {
                height: 100%;
                transition: all 0.5 ease;

                display: flex;
                align-items: center;

                transition: all 0.5s ease;
            }
        }
    }
}