@import '../../responsive.scss';

.project-section {
    width: 100%;
    min-height: 100vh;
    padding: 4rem 0;
    .project-container {
        width: 100vw;
        height: 100%;

        padding: 2rem 0rem 1rem;

        display: flex;
        align-items: center;
        justify-content: center;
        flex-wrap: wrap;
        gap: 0.5rem;

        @include medium-large-screen {
            padding: 2.5rem 1rem;
            gap: 1.5rem;
        }
    }
}