@import '../../responsive.scss';

.hero-section {
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    z-index: 0;

    .grid-layout {
        position: absolute;
        width: 100%;
        height: 100%;
        top: 0;
        left: 0;
        display: grid;
        grid-template-columns: repeat(5, 0.5fr);
        grid-template-rows: repeat(9, 0.5fr);
        background: rgb(0, 0, 0);
        background: linear-gradient(0deg, rgba(0, 0, 0, 1) 0%, rgba(0, 0, 0, 0.46271008403361347) 49%, rgba(0, 0, 0, 0) 100%);
        z-index: 0;

        @include medium-screen {
            grid-template-columns: repeat(6, 0.5fr);
            grid-template-rows: repeat(6, 0.5fr);
        }

        @include large-screen {
            grid-template-columns: repeat(12, 0.5fr);
            grid-template-rows: repeat(7, 0.5fr);
        }

        .grid-block {
            opacity: 0.12;
            border: 3px solid white;
        }
    }

    .text-container {
        position: relative;
        text-transform: uppercase;
        color: var(--primary-color);
        display: flex;
        align-items: center;
        flex-direction: column;
        user-select: none;
        margin-top: -8rem;
        z-index: 2;


        h4 {
            width: 100%;
            text-align: center;
            font-size: var(--subHeading-text);

            @include medium-screen {
                text-align: start;
            }

            @include large-screen {
                text-align: start;
            }
        }

        h1 {
            font-family: var(--hero-font);
            font-weight: 400;
            text-align: center;

            font-size: 3.5rem;
            line-height: 4rem;

            overflow: hidden;

            @include medium-screen {
                font-size: 5.5rem;
                line-height: 6rem;
            }

            @include large-screen {
                font-size: 7rem;
                line-height: 8.5rem;
            }
        }

        .download-pdf {
            display: block;
            padding: 0.8rem 0rem 0.2rem;
            outline: none;
            border: none;

            border-bottom: 2px solid white;
            color: white;
            text-transform: uppercase;

            text-decoration: none;

            display: flex;
            align-items: center;
            justify-content: center;

            gap: 0.7rem;
        }
    }

    .icon-container {
        position: absolute;
        bottom: 3%;
        right: 5%;
        width: 60px;
        height: 250px;
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;

        @include medium-screen {
            bottom: 8%;
        }

        .line {
            display: block;
            width: 5px;
            height: 60px;
            margin-bottom: 10px;
            border-left: 5px solid var(--primary-color);
            border-radius: 2px;
        }

        .icons {
            width: 100%;
            height: 140px;
            display: flex;
            align-items: center;
            justify-content: center;
            flex-direction: column;
            gap: 20px;

            .icon-link {
                overflow: hidden;

                .icon {
                    font-size: 25px;
                    color: var(--primary-color);
                }
            }
        }
    }
}