@import '../../responsive.scss';

.about-section {
    width: 100%;

    display: flex;
    align-items: center;
    justify-content: center;

    .content-container {
        width: 90%;

        display: flex;
        align-items: center;
        flex-direction: column;

        background-color: white;
        border-radius: 1.5rem;

        padding: 2rem 1rem;

        @include medium-screen {
            padding: 2rem 4rem;

            width: 70%;
            border-radius: 2rem;
        }

        p {
            font-size: 0.8rem;
            margin: 1rem 0;
            text-align: center;

            @include medium-screen {
                font-size: 1.3rem;
                width: 70%;
            }
        }

        h2 {
            font-size: 2rem;
            text-transform: uppercase;
            text-align: center;

            @include medium-screen {
                font-size: 4rem;
                width: 60%;
            }
        }

        // div {
        //     width: 100%;
        //     display: flex;
        //     align-items: center;
        //     justify-content: center;

        //     gap: 2rem;

        //     margin: 1rem 0 0.5rem;

        //     button {
        //         display: block;
        //         outline: none;
        //         border: none;

        //         padding: 0.7rem 1.3rem;

        //         background: black;
        //         border-radius: 1rem;
        //         color: white;
        //         text-transform: capitalize;
        //     }
        // }
    }
}