@import '../../responsive.scss';

.navbar {
    width: 100%;
    height: 100px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 1rem 2rem;
    
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    z-index: 3;

    @include large-screen{
        padding: 1rem 5rem;
    }

    .logo {
        width: 40px;
        height: 40px;
        object-fit: cover;
        cursor: pointer;
    }

    .nav-btn {
        width: 50px;
        cursor: pointer;
        overflow: hidden;

        span {
            display: block;
            width: 100%;
            box-shadow: 0 2px 10px 0 rgba(0, 0, 0, 0.3);
            border-radius: 3px;
            height: 5px;
            background: #fff;
            transition: all .3s;
            position: relative;
        }

        span+span {
            margin-top: 8px;
        }

        &.active {
            span {
                background: var(--bg-color);

                &:nth-child(1) {
                    animation: ease .7s top forwards;
                }

                &:nth-child(2) {
                    animation: ease .7s scaled forwards;
                }

                &:nth-child(3) {
                    animation: ease .7s bottom forwards;
                }
            }
        }

        &.not-active {
            span {
                &:nth-child(1) {
                    animation: ease .7s top-2 forwards;
                }

                &:nth-child(2) {
                    animation: ease .7s scaled-2 forwards;
                }

                &:nth-child(3) {
                    animation: ease .7s bottom-2 forwards;
                }
            }
        }
    }

}

@keyframes top {
    0% {
        top: 0;
        transform: rotate(0);
    }

    50% {
        top: 20px;
        transform: rotate(0);
    }

    100% {
        top: 20px;
        transform: rotate(58deg);
    }
}

@keyframes top-2 {
    0% {
        top: 20px;
        transform: rotate(45deg);
    }

    50% {
        top: 20px;
        transform: rotate(0deg);
    }

    100% {
        top: 0;
        transform: rotate(0deg);
    }
}

@keyframes bottom {
    0% {
        bottom: 0;
        transform: rotate(0);
    }

    50% {
        bottom: 20px;
        transform: rotate(0);
    }

    100% {
        bottom: 20px;
        transform: rotate(120deg);
    }
}

@keyframes bottom-2 {
    0% {
        bottom: 20px;
        transform: rotate(135deg);
    }

    50% {
        bottom: 20px;
        transform: rotate(0);
    }

    100% {
        bottom: 0;
        transform: rotate(0);
    }
}

@keyframes scaled {
    50% {
        transform: scale(0);
    }

    100% {
        transform: scale(0);
    }
}

@keyframes scaled-2 {
    0% {
        transform: scale(0);
    }

    50% {
        transform: scale(0);
    }

    100% {
        transform: scale(1);
    }
}



.nav-slider {
    width: 100%;
    height: 100vh;
    background-color: var(--primary-color);
    position: absolute;
    top: 0;
    left: 0;
    transition: all 0.5s ease-in;
    z-index: 1;

    &.open {
        top: -130%;
    }

    ul {
        width: 100%;
        height: 100%;
        padding: 0 2rem;
        list-style: none;

        display: flex;
        justify-content: center;
        flex-direction: column;

        @include large-screen{
            padding: 1rem 5rem;
        }

        li {
            width: 100%;
            margin: 0.5rem 0;
            font-size: 2rem;
            font-weight: 600;
            padding: 0.3rem 0.5rem;
            
            cursor: pointer;
            color: var(--bg-color);
            transition: all 0.5s ease;

            @include large-screen{
                font-size: 2.6rem;
                margin: 1rem 0;
            }

            &:hover{
                background-color: black;
                color: white;
            }
        }
    }
}