@import '../../responsive.scss';

.skills-section {
    width: 100%;

    padding: 4rem 1rem;

    color: var(--primary-color);

    .skills-container {
        width: 100%;
        margin: 2rem 0 0;

        display: grid;
        column-gap: 20px;
        row-gap: 20px;

        grid-template-columns: repeat(2, 1fr);

        @include medium-screen{
            grid-template-columns: repeat(3, 1fr);
        }

        @include medium-large-screen{
            grid-template-columns: repeat(5, 1fr);
        }

        .skill-block {
            width: 100%;
            gap: 20px;
            display: flex;
            align-items: center;
            justify-content: center;
            flex-direction: column;

            .skill-img {
                width: 150px;
                height: 150px;
                display: flex;
                align-items: center;
                justify-content: center;
                user-select: none;

                @include medium-screen{
                    width: 170px;
                    height: 170px;
                }
                
                @include medium-large-screen{
                    width: 200px;
                    height: 200px;
                }

                img {
                    width: 100px;
                    height: 100px;
                    object-fit: contain;
                    -webkit-user-drag: none;

                    @include medium-screen{
                        width: 120px;
                        height: 120px;
                    }

                    @include medium-large-screen{
                        width: 150px;
                        height: 150px;
                    }
                }
            }

            .skill-title {
                width: 100%;
                text-align: center;
                text-transform: capitalize;
                font-size: var(--sm-text);
                font-weight: var(--thin-text);
            }
        }
    }
}