@import '../../responsive.scss';

.title {
    width: 100%;
    text-align: center;
    overflow: hidden;
    font-weight: var(--semibold-text);
    text-transform: capitalize;
    font-size: 1.6rem;
    color: var(--secondary-color);

    @include medium-screen {
        font-size: 2.5rem;
    }

    @include medium-large-screen{
        font-size: 2.8rem;
    }

    @include large-screen{
        font-size: 3rem;
        overflow: hidden;
    }
}