@import '../../responsive.scss';

.contact-section {
    width: 100%;
    padding: 3rem 1rem;

    display: flex;
    align-items: center;
    flex-direction: column;

    form {
        width: 100%;

        margin-top: 2rem;

        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;

        .text {
            width: 90%;
            margin-top: 1rem;
            font-size: 1.2rem;
            line-height: 1.5;
            font-weight: 400;

            color: var(--primary-color);
            text-align: left;

            @include medium-screen{
                font-size: 1.5rem;
                width: 60%;
                text-align: center;
            }

            @include medium-large-screen{
                font-size: 1.8rem;
                width: 50%;
            }

            @include large-screen{
                font-size: 2.2rem;
                width: 45%;
            }

            span {
                margin: 0.7rem 0;
                input {
                    background: transparent;
                    border: 0;
                    outline: 0;
                    width: 200px;
                    font-size: inherit;
                    color: var(--primary-color);
                    border-bottom: 2px solid var(--primary-color);

                    @include large-screen{
                        margin: 0.8rem 0;
                    }

                    &.user_message,
                    &.user_email {
                        width: max-content;
                    }

                    &:focus {
                        background: transparent;
                    }
                }
            }
        }

        .submit-btn {
            width: 50%;

            margin-top: 2rem;
            border: 0;
            outline: 0;
            background-color: var(--primary-color);
            border-radius: 10px;
            color: var(--bg-color);
            font-size: 1rem;
            padding: 7px;
            cursor: pointer;
        }

        .feedback {
            margin-top: 2rem;
            color: var(--primary-color);
            font-size: 1.3rem;
            text-transform: capitalize;
        }

        .error {
            margin-top: 2rem;
            color: red;
            font-size: 1.3rem;
            text-transform: capitalize;
            animation: errorAnim 1s ease-in-out 1s alternate forwards;
        }
    }
}

@keyframes errorAnim {
    10% {
        transform: translateX(5%);
    }

    20% {
        transform: translateX(-5%);
    }

    30% {
        transform: translateX(5%);
    }

    40% {
        transform: translateX(-5%);
    }
    50% {
        transform: translateX(5%);
    }

    60% {
        transform: translateX(-5%);
    }

    70% {
        transform: translateX(5%);
    }

    100% {
        transform: translateX(-5%);
    }
}