.skills-container {
  display: flex;
  flex-wrap: wrap;
  gap: 1rem;
  align-items: center;
  padding: 1rem;

  border: 2px solid gray;
  border-radius: 15px;
  color: white;

  .skill {
    padding: 0.5rem 1rem;
    font-size: 1rem;
    font-weight: 500;
    color: white;
    background-color: #444;
    border: 2px solid #666;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s, border-color 0.3s, transform 0.2s;

    &:hover {
      border-color: white;
      transform: scale(1.05);
    }

    &.selected {
      border-color: rgb(35, 238, 76);
      transform: scale(1.05);
    }
  }
}
