@import '../../responsive.scss';

.footer {
    width: 100%;

    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    gap: 2rem;

    padding: 2rem 1rem;

    @include medium-screen{
        justify-content: space-between;
        padding: 2rem 5rem;
    }

    color: var(--primary-color);

    .developer {
        letter-spacing: .5px;
        word-spacing: 4px;
        text-transform: capitalize;
        font-size: var(--sm-size);
        font-weight: var(--thin-text);
    }

    .icons {
        display: flex;
        align-items: center;
        gap: 30px;
            .icon {
                font-size: 25px;
                cursor: pointer;
                color: var(--primary-color);
            }
    }
}   