@import './../../responsive.scss';

.about-page {
    width: 100%;
    min-height: 100vh;
    margin-top: 80px;
    padding: 2rem 1rem;

    @include medium-screen {
        padding: 3rem 5rem;
    }

    .title {
        font-size: 1.5rem;
        color: gray;
        text-align: center;

        @include medium-screen {
            font-size: 3rem;
        }
    }

    .desc {
        color: #f0f0f0;
        line-height: 1.6;
        font-size: 1rem;
        margin-top: 2.5rem;
      
        p {
          color: #ffffff;
        }
      
        strong {
          font-weight: bold;
          color: #cccccc;
        }
      
        h3 {
          font-size: 1.5rem;
          color: #ffffff;
        }
      
        ul {
          margin-left: 1rem;
          list-style: disc;
      
          li {
            margin: 5px 0;
            color: #dddddd;
      
            strong {
              color: #ffffff;
            }
          }
        }
      
        a {
          color: #1e90ff;
          text-decoration: none;
      
          &:hover {
            text-decoration: underline;
          }
        }
      
        @media (max-width: 768px) {
          font-size: 0.9rem;
      
          h3 {
            font-size: 1.2rem;
          }
      
          ul {
            margin-left: 1rem;
          }
        }
      }
      
      
}